//features section
.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  //grid container inside a grid layout (subgrids not implemented at time of course)
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //responsive solution
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;

  //align text/content in grid items to top
  align-items: start;
}

// Feature components
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
